/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-10-12, 10:49:56
    Author     : user
*/

/*figure > img {
    position: relative;
}

figure {
    position: relative;
}

figcaption.caption {
    position: absolute;
    top: 187px;
    left: 200px;
}

figcaption.caption {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

p.header-text-1 {
    font-size: 1.6em;
    font-weight: 800;
}

.type-menu-bar { padding: 10px 0px 10px 0px; border-bottom: 1px solid #ccc;background-color: #fff;}*/

/* HEADER */
.blck-logo{
    display: inline-block;
    float: left;
}


.blck-menu ul li {
    list-style-type: none;
    float: left;
    margin-left: 10px;
}

/* FOOTER */
.footer-1 {
    display: inline-block;
    float: left;
    padding: 10px;
    width: 50%;
    margin-top: 50px;
    padding-left: 120px;
}

.footer-2 {
    display: inline-block;
    padding: 10px;
    margin-top: 50px;
    padding-left: 120px;
}

.footer-img {
    margin-bottom: 25px;
}

.footer-menu ul li a {
    color: #fff;
}

.footer-menu ul li a:hover {
    text-decoration: none;
}

ul {
    margin-left: auto;
    /* height: 100%; */
    line-height: 50%;
}

.blck-menu li.active > span > a {
    color: #add144;
    
}

.blck-menu li > span > a {
    font-weight: 700;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 25px;
}