/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-10-12, 10:49:56
    Author     : user
*/

/*figure > img {
    position: relative;
}

figure {
    position: relative;
}

figcaption.caption {
    position: absolute;
    top: 187px;
    left: 200px;
}

figcaption.caption {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

p.header-text-1 {
    font-size: 1.6em;
    font-weight: 800;
}

.type-menu-bar { padding: 10px 0px 10px 0px; border-bottom: 1px solid #ccc;background-color: #fff;}*/

/* HEADER */
.blck-logo{
    display: inline-block;
    float: left;
}


.blck-menu ul li {
    list-style-type: none;
    float: left;
    margin-left: 10px;
}

/* FOOTER */
.footer-1 {
    display: inline-block;
    float: left;
    padding: 10px;
    width: 50%;
    margin-top: 50px;
/*    padding-left: 120px;*/
    color:#fff;
}

.footer-2 {
    display: inline-block;
    padding: 10px;
    margin-top: 50px;
    padding-left: 120px;
}

.footer-img {
    margin-bottom: 25px;
}

.footer-menu ul li a {
    color: #fff;
}

.footer-menu ul li a:hover {
    text-decoration: none;
}

ul {
    margin-left: auto;
    /* height: 100%; */
    line-height: 50%;
}

.blck-menu li.active > span > a {
    color: #add144;  
}

.blck-menu li > span > a {
    font-weight: 700;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 25px;
}

.blck-menu li > span > a:hover {
    text-decoration: none;
}

.div-img {
    text-align: center;
}

.bool-title {
    text-align: center;
    font-size: 1.3em;
    font-weight: 800;
    padding: 15px 5px;
}

p.descript {
    text-align: center;
    font-family: cursive;
    font-size: 1.1em;
}

.options > ul{
    line-height: unset;
}

.error {
    color: red;
    font-style: italic;
}

.block-infos {
    padding: 50px 0px;
}

.block-pub{
    padding-top: 100px;
}

.block-pub > .container{
    background-image: url('/images/taccos.png');
    height: 600px;
    background-size: cover;
}

.block-social-network {
    text-align: center;
}

body > main > div.block-social-network > ul > li > a > img{
    height: 50px;
}

.first-block, .second-block {
    background-color: #aac230a8;
    max-width: 340px;
}

.padding-top-bottom{
    padding: 30px 0px;
}

.first-block {
    margin-top: 80px;
    padding: 25px;
}

.second-block {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
}

.first-block img.allozoe {
    width: 102px;
}

.first-block p, .second-block p:first-child {
    text-align: center;
    font-family: monospace;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.iphone {
    margin-top: 100px;
}

.login-container {
    max-width: 420px;
    margin: auto;
    padding-top: 6%;
}

i.fa {
    position: relative;
    bottom: 2px;
    font-size: 16px;
}


@media(max-width: 768px){
    .footer-2{
        margin-top: 25px;
        padding-left: unset;
    }
}