
{# empty Twig template #}
<h2>Bonjour {{ name }}</h2>,

<p>Votre commande a été passée avec succès. </p>
<p> Détails de commande </p>
<ul>
    <li>Reférence : {{ order.ref }}</li>
    <li>Montant : {{ order.amount }} €</li>
</ul>