{# empty Twig template #}
{# empty Twig template #}
<h2>Bonjour {{ name }}</h2>,

<p>Le restaurant {{ restau }} a reçu une nouvelle commande. </p>
<p> Detail de commande </p>
<ul>
    <li>Reférence : {{ order.ref }}</li>
    <li>Montant : {{ order.amount }}</li>
</ul>