{# empty Twig template #}
<h2>Bonjour {{ name }}</h2>,<br>

Votre compte a été créé mais pas activé.<br>
<p>Votre code d'activation est <strong>{{ code }}</strong> ou cliquez sur le lien suivant : <a href="{{link}}">{{link}}</a> pour activer compte.</p>